.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #101922;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary, .btn-secondary {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
}

.btn-primary {
  background-color: #0f2b45;
  color: #1173d4;
}

.btn-secondary {
  background-color: #334155;
  color: white;
}